.navigation {
  height: 6rem;
  width: 100%;
  box-shadow: 0 0 0.8rem #9090902b;

  .container {
    position: relative;
  }

  a,
  span {
    display: inline;
    font-size: 1.8rem;
    font-family: $heading-font-family;
    font-weight: 700;
    line-height: 6rem;
    color: $fg-color;
    @media only screen and (max-width: 446px) {
      font-size: 2rem;
      margin: 0.2rem;
    }
  }
  a {
    &:hover,
    &:focus {
      color: $link-color;
    }
  }
  .navigation-title {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
  #navigation-list {
    float: right;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 446px) {
      position: absolute;
      top: -25rem;
      right: 0;
      z-index: 5;
      opacity: 0;
      padding: 0 0 0.75em 0;
      width: 100vw;
      visibility: hidden;
      background-color: $bg-color;
      border-top: solid 2px $alt-bg-color;
      border-bottom: solid 2px $alt-bg-color;
      flex-direction: column;
      transition: 0.5s;
      @media (prefers-reduced-motion: reduce) {
        transition: opacity 0.25s;
      }
    }
    .navigation-item {
      float: left;
      margin: 0;
      position: relative;
      min-height: 50px;
      display: flex;
      @media only screen and (max-width: 446px) {
        float: none !important;
        text-align: center;
        a,
        span {
          line-height: 5rem;
        }
      }
      a,
      span,
      div {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
    .menu-separator {
      @media only screen and (max-width: 446px) {
        border-top: 2px solid $fg-color;
        margin: 0 8rem;
        span {
          display: none;
        }
      }
    }
  }
  #menu-toggle-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    @media only screen and (max-width: 446px) {
      flex-direction: row-reverse;
    }
    #menu-toggle {
      width: 0;
      height: 0;
      opacity: 0;
      display: none;
      + label {
        display: none;
      }
      @media only screen and (max-width: 446px) {
        display: block;
        + label {
          display: flex;
          cursor: pointer;
          height: 6rem;
          margin-right: 2rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 6rem;
          &:hover,
          &:focus-visible {
            color: $link-color;
          }
          svg {
            width: 3rem;
          }
        }
        &:checked + label {
          color: $alt-bg-color;
          + ul {
            visibility: visible;
            opacity: 1;
            top: 6rem;
          }
        }
        &:focus-visible + label {
          color: $link-color;
        }
      }
    }
  }
}
