// Fonts
$text-font-family: Merriweather, Georgia, serif;
$heading-font-family: Lato, Helvetica, sans-serif;
$code-font-family: 'Source Code Pro', 'Lucida Console', monospace;

// Colors
$bg-color: #FAFAFA !default;
$fg-color: #212121 !default;
$alt-bg-color: #E0E0E0 !default;
$alt-fg-color: #000 !default;
$link-color: #1565c0 !default;
$emphasis-bg: #f2e0ff;
$emphasis-border: #c475ff;

// Colors dark
$bg-color-dark: #212121 !default;
$fg-color-dark: #DADADA !default;
$alt-bg-color-dark: #424242 !default;
$alt-fg-color-dark: #DADADA !default;
$link-color-dark: #80b4f1 !default;
$emphasis-bg-dark: #221e25;
