#referrals {
    h1 {
        text-align: center;
    }
    .ref-section {
        border-bottom: 2px solid $link-color-dark;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:first-of-type {
            border-top: 2px solid #80b4f1;
        }
        &:last-of-type {
            padding: 2rem;
        }
        p {
            margin-top: 0;
        }

    }
    .ref-image {
        max-height: 12rem;
        max-width: 40rem;
        background: white;
        padding: 1rem;
        margin: 1rem;
        border-radius: 0.5rem;
    }
    .ref-link {
        text-align: center;
        margin: 1rem;
        font-size: 1.25em;
    }
}


figure img {
    max-height: 100vh;
}


form  {
    p {
        display: flex;
        flex-direction: column;

        input {
            max-width: 15em;
        }

        textarea {
            max-width: 40em;
            min-height: 8em;
        }
    }
    button {
        max-width: 10em;
        align-self: center;
        min-width: 8em;
        padding: 0.25em 2em;
    }

    button, input, textarea {
        border-radius: 0.33em;
        border: 0.1em solid $link-color-dark;
    }
}


#social-links {
    position: relative;
    
    span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -2em;
        transition: 0.2s;
        opacity: 0;
        white-space: nowrap;
    }

    li:hover span, a:focus + span {
        opacity: 1;
    }
    
    @media only screen and (max-width : 357px) {      
        li:last-of-type {
            padding-top: 2.5em;
        }
    }

}
