body.colorscheme-dark {
    form {
        background: #1f1f1f;
        padding: 1em;
        border-color: #313131;

        &,
        button,
        input,
        textarea {
            border: 0.1em solid #313131;
        }
    }

    #social-links li a {        
        color: $fg-color-dark;
        &:hover,
        &:focus {
            color: $link-color-dark;
        }
    }

    .colorful-section > div {
        background-color: #212121;
    }
}