#referrals {
    h1 {
        text-align: center;
    }
    .ref-section {
        border-bottom: 2px solid $link-color-dark;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:first-of-type {
            border-top: 2px solid #80b4f1;
        }
        &:last-of-type {
            padding: 2rem;
        }
        p {
            margin-top: 0;
        }

    }
    .ref-image {
        max-height: 12rem;
        max-width: 40rem;
        background: white;
        padding: 1rem;
        margin: 1rem;
        border-radius: 0.5rem;
    }
    .ref-link {
        text-align: center;
        margin: 1rem;
        font-size: 1.25em;
    }
}


figure img {
    max-height: 100vh;
}