*:focus {
    outline-width: 0.5em;
    outline-color: $link-color;
}

.content .project-figure {
    margin: 3rem;
    img {
        border-radius: 1rem;
    }
}
.content .project-info {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-radius: 0.75em;
    padding: 0.75em 0.9em;
    p {
        margin: 0;
        text-align: left;
        &:nth-of-type(2) {
            margin: 0.5rem 0;
        }
    }
    .tag {
        background: #a3c4ea;
        color: #000000;
        font-family: monospace;
        font-size: 1.25em;
        padding: 0.4rem;
        border-radius: 0.5rem;
        margin-right: 0.5rem;
    }
}

#referrals {
    .ref-section {
        border-bottom: 2px solid $link-color-dark;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:first-of-type {
            border-top: 2px solid $link-color-dark;
        }
        &:last-of-type {
            padding: 2rem;
        }
        p {
            margin-top: 0;
        }

    }
    .ref-image {
        max-height: 12rem;
        max-width: 40rem;
        background: white;
        padding: 1rem;
        margin: 1rem;
        border-radius: 0.5rem;
        object-fit: contain;
    }
    .ref-link {
        text-align: center;
        margin: 1rem;
        font-size: 1.25em;
    }
}


figure img {
    max-height: 100vh;
    @media only screen and (min-width : 768px) {
        max-width: 66rem;
    }
}


form  {
    p {
        display: flex;
        flex-direction: column;

        input {
            max-width: 15em;
            padding: 0.25em;
        }
        
        textarea {
            max-width: 40em;
            min-height: 8em;
            padding: 0.25em;
        }
    }
    button {
        max-width: 10em;
        align-self: center;
        min-width: 8em;
        padding: 0.25em 2em;
    }

    button, input, textarea {
        border-radius: 0.33em;
        border: 0.1em solid $link-color-dark;
    }
}


#social-links {
    position: relative;
    list-style: none;
    margin: 3rem 0 1rem;
    padding: 0;
    text-align: center;  

    span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -2em;
        transition: 0.2s;
        opacity: 0;
        white-space: nowrap;
    }

    li {
        display: inline-block;
        position: relative;
        a {
          color: $fg-color;
          margin-left: 1.0rem;
          margin-right: 1.0rem;
          font-size: 1.6rem;
          &:hover,
          &:focus {
            color: $link-color;
          }
          @media only screen and (max-width : 768px) {
            font-size: 1.4rem;
          }
          i {
            font-size: 3.2rem;
          }
        }
      }
    li:hover span, a:focus + span {
        opacity: 1;
    }
    
    @media only screen and (max-width : 357px) {      
        li:last-of-type {
            padding-top: 2.5em;
        }
    }

}

footer {
    hr {
        margin: 3em 0 2em 0;
    }
    iframe {
        margin: auto;
        display: block;
    }
}

#newsletterSignup {
    > div {
        p:first-of-type {
            margin-top: 0;
        }
        h6 {
            margin: 0;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            input {
                width: 100%;
                max-width: 400px;
                height: 3.2rem;
            }
            button {
                margin: 2rem;
            }
        }
    }
}

#latest-blog-posts > div {
    justify-content: center;
    display: grid;
    grid-template-columns: minmax(6rem, 32rem) minmax(6rem, 32rem);
    @media only screen and (max-width :768px) {
        grid-template-columns: minmax(6rem, 32rem);
    }
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 2.5rem;
    align-items: center;
    padding: 2.5rem 1.5rem;

    h2 {
        flex-grow: 1;
        font-size: 6rem;
        max-width: 40rem;
        line-height: normal;
        margin: 0;
        a {
            color: #000;
            cursor: pointer;
            font-weight: 700;
            &:hover {
                text-decoration: none;
            }
        }
    }
    
    .latest-blog-post {
        img {
            max-width: 95%;
            border-radius: 0.5rem;
        }
        h3 {
            margin: 0.1rem;
    
        }
    }
}

.colorful-section {
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 34%, #2BFF88 60%);
    margin-top: 3rem;
    padding: 0.3rem;
    border-radius: 1rem;
    > div {
        background-color: #fafafa;
        padding: 1.25rem 2rem;
        border-radius: 1rem;
        p:first-of-type {
            margin-top: 0;
        }
        h6 {
            margin: 0;
        }
    }
}

.content .blog-post figure {
    margin: 0 0 2rem 0;
}

/*!
* Gist DarkCode ver 0.2.0 
* Copyright (c) 2018 KillerCodes.in
* License: Free to use with this file header ;)
*/
// .gist{font-size: 18px}
// .gist-meta,.gist-data, .gist-file,.gist-data, .octotree_toggle, ul.comparison-list > li.title,button.button, a.button, span.button, button.minibutton, a.minibutton,span.minibutton, .clone-url-button > .clone-url-link{background: linear-gradient(#202020, #181818) !important;border-color: #383838 !important;border-radius: 0 0 3px 3px !important;text-shadow: none !important;color: #b5b5b5 !important}
.markdown-format pre, .markdown-body pre, .markdown-format .highlight pre,.markdown-body .highlight pre, body.blog pre, #facebox pre, .blob-expanded,.terminal, .copyable-terminal, #notebook .input_area, .blob-code-context,.markdown-format code, body.blog pre > code, .api pre, .api code,.CodeMirror,.highlight{background-color: #1D1F21!important;color: #C5C8C6!important;font-size: 18px}.gist .blob-code{padding: 1px 10px !important;text-align: left;background: #000;border: 0}::selection{background: #24890d;color: #fff;text-shadow: none}::-moz-selection{background: #24890d;color: #fff;text-shadow: none}.blob-num{padding: 10px 8px 9px;text-align: right;color: #6B6B6B!important;border: 0}.blob-code,.blob-code-inner{color: #C5C8C6!important}.pl-c,.pl-c span{color: #969896!important;font-style: italic!important}.pl-c1{color: #DE935F!important}.pl-cce{color: #DE935F!important}.pl-cn{color: #DE935F!important}.pl-coc{color: #DE935F!important}.pl-cos{color: #B5BD68!important}.pl-e{color: #F0C674!important}.pl-ef{color: #F0C674!important}.pl-en{color: #F0C674!important}.pl-enc{color: #DE935F!important}.pl-enf{color: #F0C674!important}.pl-enm{color: #F0C674!important}.pl-ens{color: #DE935F!important}.pl-ent{color: #B294BB!important}.pl-entc{color: #F0C674!important}.pl-enti{color: #F0C674!important;font-weight: 700!important}.pl-entm{color: #C66!important}.pl-eoa{color: #B294BB!important}.pl-eoac{color: #C66!important}.pl-eoac .pl-pde{color: #C66!important}.pl-eoai{color: #B294BB!important}.pl-eoai .pl-pde{color: #B294BB!important}.pl-eoi{color: #F0C674!important}.pl-k{color: #B294BB!important}.pl-ko{color: #B294BB!important}.pl-kolp{color: #B294BB!important}.pl-kos{color: #DE935F!important}.pl-kou{color: #DE935F!important}.pl-mai .pl-sf{color: #C66!important}.pl-mb{color: #B5BD68!important;font-weight: 700!important}.pl-mc{color: #B294BB!important}.pl-mh .pl-pdh{color: #DE935F!important}.pl-mi{color: #B294BB!important;font-style: italic!important}.pl-ml{color: #B5BD68!important}.pl-mm{color: #C66!important}.pl-mp{color: #81A2BE!important}.pl-mp1 .pl-sf{color: #81A2BE!important}.pl-mq{color: #DE935F!important}.pl-mr{color: #B294BB!important}.pl-ms{color: #B294BB!important}.pl-pdb{color: #B5BD68!important;font-weight: 700!important}.pl-pdc{color: #969896!important;font-style: italic!important}.pl-pdc1{color: #DE935F!important}.pl-pde{color: #DE935F!important}.pl-pdi{color: #B294BB!important;font-style: italic!important}.pl-pds{color: #B5BD68!important}.pl-pdv{color: #C66!important}.pl-pse{color: #DE935F!important}.pl-pse .pl-s2{color: #DE935F!important}.pl-s{color: #B294BB!important}.pl-s1{color: #B5BD68!important}.pl-s2{color: #c5c8c6!important}.pl-mp .pl-s3{color: #B294BB!important}.pl-s3{color: #81a2be!important}.pl-sc{color: #c5c8c6!important}.pl-scp{color: #DE935F!important}.pl-sf{color: #DAD085!important}.pl-smc{color: #F0C674!important}.pl-smi{color: #c5c8c6!important}.pl-smp{color: #c5c8c6!important}.pl-sok{color: #B294BB!important}.pl-sol{color: #B5BD68!important}.pl-som{color: #C66!important}.pl-sr{color: #C66!important}.pl-sra{color: #B294BB!important}.pl-src{color: #B294BB!important}.pl-sre{color: #B294BB!important}.pl-st{color: #B294BB!important}.pl-stj{color: #c5c8c6!important}.pl-stp{color: #DE935F!important}.pl-sv{color: #DE935F!important}.pl-v{color: #DE935F!important}.pl-vi{color: #DE935F!important}.pl-vo{color: #C66!important}.pl-vpf{color: #DE935F!important}.pl-mi1{color: #8F9D6A!important;background: rgba(0,64,0,.5)!important}.pl-mdht{color: #8F9D6A!important;background: rgba(0,64,0,.5)!important}.pl-md{color: #C66!important;background: rgba(64,0,0,.5)!important}.pl-mdhf{color: #C66!important;background: rgba(64,0,0,.5)!important}.pl-mdr{color: #DE935F!important;font-weight: 400!important}.pl-mdh{color: #C66!important;font-weight: 400!important}.pl-mdi{color: #C66!important;font-weight: 400!important}.pl-ib{background-color: #C66!important}.pl-id{background-color: #C66!important;color: #fff!important}.pl-ii{background-color: #C66!important;color: #fff!important}.pl-iu{background-color: #C66!important}.pl-mo{color: #c5c8c6!important}.pl-mri{color: #DE935F!important}.pl-ms1{background-color: #c5c8c6!important}.pl-va{color: #DE935F!important}.pl-vpu{color: #DE935F!important}.pl-entl{color: #c5c8c6!important}.CodeMirror-gutters{background: #222!important;border-right: 1px solid #484848!important}.CodeMirror-guttermarker{color: #fff!important}.CodeMirror-guttermarker-subtle{color: #aaa!important}.CodeMirror-linenumber{color: #aaa!important}.CodeMirror-cursor{border-left: 1px solid #fff!important}.CodeMirror-activeline-background{background: #27282E!important}.CodeMirror-matchingbracket{outline: 1px solid grey!important;color: #fff!important}.cm-keyword{color: #f9ee98!important}.cm-atom{color: #FC0!important}.cm-number{color: #ca7841!important}.cm-def{color: #8DA6CE!important}.cm-variable-2,span.cm-tag{color: #607392!important}.cm-variable-3,span.cm-def{color: #607392!important}.cm-operator{color: #cda869!important}.cm-comment{color: #777!important;font-style: italic!important;font-weight: 400!important}.cm-string{color: #8f9d6a!important}.cm-string-2{color: #bd6b18!important}.cm-meta{background-color: #141414!important;color: #f7f7f7!important}.cm-builtin{color: #cda869!important}.cm-tag{color: #997643!important}.cm-attribute{color: #d6bb6d!important}.cm-header{color: #FF6400!important}.cm-hr{color: #AEAEAE!important}.cm-link{color: #ad9361!important;font-style: italic!important;text-decoration: none!important}.cm-error{border-bottom: 1px solid red!important}#notebook .highlight table{background: #1d1f21!important;color: #c5c8c6!important}.highlight .hll{background-color: #373b41!important}.highlight .c{color: #969896!important}.highlight .err{color: #c66!important}.highlight .k{color: #b294bb!important}.highlight .l{color: #de935f!important}.highlight .h,.highlight .n{color: #c5c8c6!important}.highlight .o{color: #8abeb7!important}.highlight .p{color: #c5c8c6!important}.highlight .cm{color: #969896!important}.highlight .cp{color: #969896!important}.highlight .c1{color: #969896!important}.highlight .cs{color: #969896!important}.highlight .gd{color: #c66!important}.highlight .ge{font-style: italic!important}.highlight .gh{color: #c5c8c6!important;font-weight: 700!important}.highlight .gi{color: #b5bd68!important}.highlight .gp{color: #969896!important;font-weight: 700!important}.highlight .gs{font-weight: 700!important}.highlight .gu{color: #8abeb7!important;font-weight: 700!important}.highlight .kc{color: #b294bb!important}.highlight .kd{color: #b294bb!important}.highlight .kn{color: #8abeb7!important}.highlight .kp{color: #b294bb!important}.highlight .kr{color: #b294bb!important}.highlight .kt{color: #f0c674!important}.highlight .ld{color: #b5bd68!important}.highlight .m{color: #de935f!important}.highlight .s{color: #b5bd68!important}.highlight .na{color: #81a2be!important}.highlight .nb{color: #c5c8c6!important}.highlight .nc{color: #f0c674!important}.highlight .no{color: #c66!important}.highlight .nd{color: #8abeb7!important}.highlight .ni{color: #c5c8c6!important}.highlight .ne{color: #c66!important}.highlight .nf{color: #81a2be!important}.highlight .nl{color: #c5c8c6!important}.highlight .nn{color: #f0c674!important}.highlight .nx{color: #81a2be!important}.highlight .py{color: #c5c8c6!important}.highlight .nt{color: #8abeb7!important}.highlight .nv{color: #c66!important}.highlight .ow{color: #8abeb7!important}.highlight .w{color: #c5c8c6!important}.highlight .mf{color: #de935f!important}.highlight .mh{color: #de935f!important}.highlight .mi{color: #de935f!important}.highlight .mo{color: #de935f!important}.highlight .sb{color: #b5bd68!important}.highlight .sc{color: #c5c8c6!important}.highlight .sd{color: #969896!important}.highlight .s2{color: #b5bd68!important}.highlight .se{color: #de935f!important}.highlight .sh{color: #b5bd68!important}.highlight .si{color: #de935f!important}.highlight .sx{color: #b5bd68!important}.highlight .sr{color: #b5bd68!important}.highlight .s1{color: #b5bd68!important}.highlight .ss{color: #b5bd68!important}.highlight .bp{color: #c5c8c6!important}.highlight .vc{color: #c66!important}.highlight .vg{color: #c66!important}.highlight .vi{color: #c66!important}.highlight .il{color: #de935f!important}
// .highlight {font-size: 14px !important}

body.colorscheme-dark, 
body.colorscheme-light {
    .gist .gist-file table td,
    .gist .gist-file table th {
        border: none;
    }
}


// Theme toggle
#theme-toggle {
	position: relative;
	// top: 0;
	// left: 0;
	// right: 0;
	// bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
    
    label {
        position: relative;
        display: block;
        width: 3.6em;
        height: 2em;
        border-radius: 1em;
        border: 1px solid;
        background-color: #000839;
        overflow: hidden;
        cursor: pointer;
        &:before,
        &:after {
            display: block;
            position: absolute;
            content: "";		
            width: 1.44em;
            height: 1.44em;
            border-radius: 50%;
            top: 50%;
            left: 0.3em;
            transform: translateY(-50%);
            transition: .9s ease;
        }
        &:before {
            background-color: #ffa41b;
    
        }
    
        &:after {
            background-color: #000839;
            left: -6em;
            transform: translateY(-50%) scale(0.00001);
        }
    }
    
    input[type="checkbox"] {
        // don't just display: none; for keyboard navigation
        position: absolute;
        width: 3.6em;
        height: 2em;
        border-radius: 1em;
        &:checked + label {
            &:before {
                background-color: #FFF;
                transform: translateY(-50%) translateX(1.4em);
            }
            
            &:after {
                transform: translateY(-50%) translateX(7.2em) scale(1);
                transform: translateY(-50%) translateX(8.4em) scale(1);
            }
        }
    }
}

.twitter-tweet {
    margin: 10px auto !important;
}
