.ref-section {
  border-bottom: 2px solid #80b4f1;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ref-section:first-of-type {
  border-top: 2px solid #80b4f1;
}

.ref-section:last-of-type {
  padding: 2rem;
}

.ref-section p {
  margin-top: 0;
}

.ref-image {
  max-height: 12rem;
  max-width: 40rem;
  background: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  object-fit: contain;
}

.ref-link {
  text-align: center;
  margin: 1rem;
  font-size: 1.25em;
}