<li 
  data-tags="
  {{- range .Page.Params.Tags -}}
    {{- urlize . -}}
  {{- end -}}"
>
<a class="title" href="{{ .Params.ExternalLink | default .RelPermalink }}">
  <div class="top">

    <figure>
      <picture>
        {{ $ext := substr (path.Ext .Params.previewImage) 1 }} 
        {{ $pi := .Page.Resources.GetMatch .Params.previewImage }}
        {{ $pif := .Page.Resources.GetMatch .Params.previewImageFallback }}
        {{ if not $pi }}
          {{ $pi = .Params.previewImage }}
        {{ else }}
          {{ $pi = $pi.RelPermalink }}
        {{ end }}
        {{ if not $pif }}
          {{ $pif = .Params.previewImageFallback }}
        {{ else }}
          {{ $pif = $pif.RelPermalink }}
        {{ end }}
        <source 
          srcset='{{$pi}}'
          type="image/{{$ext}}"
        >
        <div
        {{/* 
          height: 250px;
           */}}
          style="width: 250px;
          display: flex;
          "
        >
        <img 
          src='{{ $pif }}' 
          alt=''
        >
        </div>
      </picture>
    </figure>
    <div class="text">
      <h2>{{ .Title }}</h2>
      <span class="date">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
      <!-- <span class="date">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span> -->
      <!-- <p>{{ .Params.description }}</p> -->
    </div>
  </div>

  </a>
</li>
<!-- <hr> -->
