<li
  data-tags="
  {{- range .Page.Params.Tags -}}
    {{- urlize . -}}
  {{- end -}}"
>
  <a class="title" href="{{ .Params.ExternalLink | default .RelPermalink }}">
    <span class="post-link-wrapper">
      <figure>
        <picture>
          {{ $pif := .Page.Resources.GetMatch .Params.previewImageFallback }}
          {{ $height := "" }}
          {{ $webp := "" }}
          {{ if not $pif }}
            {{/* Must be on Cloudinary */}}
            {{ $pif = .Params.previewImageFallback }}
          {{ else }}
            {{ $pif = $pif.Resize "250x jpg q100" }}
            {{ $webp = $pif.Resize "250x webp q100" }}
            {{ $height = $pif.Height }}
            {{ $pif = $pif.RelPermalink }}
          {{ end }}
          <div>
            <picture>
              {{ if $webp }}
                <source srcset="{{ $webp.RelPermalink }}" type="image/webp" />
              {{ end }}
              <img
                src="{{ $pif }}"
                width="250"
                {{ if ne $height "" }}
                  height="{{ $height }}"
                {{ end }}
                alt=""
              />
            </picture>
          </div>
        </picture>
      </figure>
      <div class="text">
        <h2>{{ .Title }}</h2>
        <span class="date"
          >{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span
        >
        <!-- <p>{{ .Params.description }}</p> -->
      </div>
    </span>
  </a>
</li>
