{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  <section class="container list">
    <h1 class="title">{{ .Title }}</h1>
    {{range $name, $taxonomy := .Site.Taxonomies.tags}}
      {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
        <label for="{{$name}}">
          <input 
            type="checkbox" 
            name="{{$name}}" 
            id="{{$name}}" 
            class="filter"
            checked 
            onchange="filterList(this, {{$name}})"
          >
          {{- replace $name "-" " " -}}
        </label>   
      {{end}}
    {{end}}
    <ul>
      {{- range .Paginator.Pages -}}
        {{- .Render "li" -}}
      {{- end -}}
    </ul>

    {{ partial "pagination.html" . }}
  </section>
{{ end }}
