<section class="container list colorful-section reverse">
  {{ $related := .Site.RegularPages.Related . | first 3 }}
  {{ with $related }}
    <div class="latest-blog-post">
      <h3>Related content</h3>
      <ul>
        {{ range . }}
          <li>
            <a
              class="title"
              href="{{ .Params.ExternalLink | default .RelPermalink }}"
            >
              <span class="post-link-wrapper">
                <figure>
                  <picture>
                    {{ $pif := .Page.Resources.GetMatch .Params.previewImageFallback }}
                    {{ $height := "" }}
                    {{ if not $pif }}
                      {{/* Must be on Cloudinary */}}
                      {{ $pif = .Params.previewImageFallback }}
                    {{ else }}
                      {{ $pif = $pif.Resize "250x jpg q100" }}
                      {{ $height = $pif.Height }}
                      {{ $pif = $pif.RelPermalink }}
                    {{ end }}
                    <div>
                      <img
                        src="{{ $pif }}"
                        width="250"
                        {{ if ne $height "" }}
                          height="{{ $height }}"
                        {{ end }}
                        alt=""
                      />
                    </div>
                  </picture>
                </figure>
                <div class="text">
                  <h2>{{ .Title }}</h2>
                  <span class="date"
                    >{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span
                  >
                  <!-- <p>{{ .Params.description }}</p> -->
                </div>
              </span>
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
</section>
