{{ define "title" }}
{{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
<section id="{{ replace (lower .Title) " " "-" }}" class="container post">

  <article>
    <header>
      <div class="post-title">
        <h1 class="title">{{ .Title }}</h1>
      </div>
      <div class="post-meta">
        <div class="date">
          <span class="posted-on">
            <i class="fas fa-calendar"></i>
            <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
              {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
              {{ if gt .Page.Lastmod .Date }}
              - updated on {{ .Page.Lastmod.Format "Jan 2, 2006"}}
              {{ end }}
            </time>
          </span>
          <br>
          <span class="reading-time">
            <i class="fas fa-clock"></i>
            {{ i18n "reading_time" .ReadingTime }}
          </span>
        </div>
        {{ with .Page.Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }}
        {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}
      </div>
    </header>

    <div class="blog-post">
      {{ if .Params.featured_image }}
        <img src='{{ .Params.featured_image }}' alt="Featured image" />
      {{ end }}
      <!-- Initially, the two lines below would simply be {{ .Content}}, But, for responsive tables, this: -->
      {{ $wrappedTable := printf "<div class=table-wrapper style=overflow:auto;> ${1} </div>" }}
      {{ .Content | replaceRE "(<table>(?:.|\n)+?</table>)" $wrappedTable | safeHTML }}
    </div>

    <footer>
      <hr>
      <div class="twitter-wrapper-custom">
        <a 
        class="twitter-follow-button-custom" 
        title="Follow @felixs_username on Twitter" 
        rel="noopener"
        target="_blank"
        href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fwww.felixparadis.com%2Fposts%2Farc-dot-io-review%2F&amp;ref_src=twsrc%5Etfw&amp;region=follow_link&amp;screen_name=felixs_username&amp;tw_p=followbutton">
        <i></i><span class="label" id="l">Follow <b>@felixs_username</b></span>
      </a>
    </div>
      <!-- #DELETE:  Twitter uses a massive amount of JS to render that button... my own version is above -->
      <!-- <a href="https://twitter.com/felixs_username?ref_src=twsrc%5Etfw" class="twitter-follow-button" id="twitter-follow-button" data-size="large"
        data-show-count="false">
        Follow @felixs_username
      </a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
      <section id="newsletterSignup" class="colorful-section">
        <div>
          <p>Pssst!</p>
          <strong>I'm starting a newsletter about my Indie Hacking journey.</strong>
          <p>Simple and fun concept: I start with no job and 10 000$, hoping it will be enough to support myself until I start generating decent income. Follow along?</p>

          <form name="newsletterSignup" netlify netlify-honeypot="money">
            <label for="email">Email address</label>
            <input type="email" name="email" id="email" />
            <p style="display: none;">
              <label for="money">Name </label>
              <input type="text" name="money" id="money" />
              <input type="text" name="page" id="page" value="{{ .Title }}"/>
            </p>
            <div>
              <button type="submit">Subscribe</button>
            </div>
            <div class="">
              Powered by <a
                href="https://emailoctopus.com/?urli=lWf4V&amp;utm_medium=user_referral&amp;utm_source=builder"
                target="_blank"
                rel="noopener"
                >EmailOctopus</a>
            </div>
          </form>
        </div>
      </section>
      {{ partial "posts/series.html" . }}
      {{ partial "posts/disqus.html" . }}
      {{ partial "posts/commento.html" . }}
      {{ partial "posts/utteranc.html" . }}
    </footer>
  </article>

  {{ partial "posts/math.html" . }}
</section>
{{ end }}