<section class="container centered">
  <div class="about">
    {{ if and (isset .Site.Params "avatarurl") (not (isset .Site.Params "gravatar")) }}
      <div class="avatar">
        <picture>
          <source srcset="{{ .Site.Params.avatarurl | relURL }}" type="image/webp">
          <img src="{{ .Site.Params.avatarurlBackup | relURL }}" alt="avatar">
        </picture>
      </div>
    {{ end }}
    {{ with .Site.Params.gravatar }}
      <div class="avatar"><img src="https://www.gravatar.com/avatar/{{md5 .}}?s=240&d=mp" alt="gravatar"></div>
    {{ end }}

    <h1>{{ .Site.Params.hello }}</h1>
    <p>
      My famous paintings are over at <a href="https://boutique.felixparadis.com">boutique.felixparadis.com</a>[FR]
    </p>
    <p>
      My awesome newsletter is over at <a href="https://weeklycartoon.news">weeklycartoon.news</a>
    </p>
    <h2>{{ .Site.Params.info }}</h2>

    {{ with .Site.Params.social }}
    <ul id="social-links">
      {{ range sort . "weight" }}
        {{ if .icon }}
          <li>
            <a 
              href="{{ .url }}" 
              aria-label="{{ .name }}" 
              rel="noopener"
              target="_blank" 
              {{ if .type }}type="{{ .type }}"{{ end }}
            >
              <i class="{{ .icon }}" aria-hidden="true"></i>
            </a>
            <span>{{ .name }}</span>
          </li>
        {{ else }}
          <li>
            <a 
              href="{{ .url }}" 
              aria-label="{{ .name }}" 
              rel="noopener"
              target="_blank"
            >
              {{ .name }}
            </a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
    {{ end }}
    <!-- <h2>
      Find older versions of www.felixparadis.com
    </h2> -->
  </div>
</section>
