<section class="container centered">
  <div class="about">
    <div class="avatar">
      <picture>
        <source 
          media="(min-width: 500px)"
          srcset="images/profile.avif"
          type="image/avif"
        >
        <source 
          media="(min-width: 500px)"
          srcset="images/profile.webp"
          type="image/webp"
        >
        <source
          srcset="images/profile_mobile.avif"
          type="image/avif"
        >
        <source 
          srcset="images/profile_mobile.webp"
          type="image/webp"
        >
        <img src="images/profile.png" alt="avatar">
      </picture>
    </div>
    {{ with .Site.Params.gravatar }}
      <div class="avatar"><img src="https://www.gravatar.com/avatar/{{md5 .}}?s=240&d=mp" alt="gravatar"></div>
    {{ end }}

    <h1>{{ .Site.Params.hello }}</h1>

    <br>

    <p>
      A freelance web developer with a keen interest in the Jamstack ecosystem and <a href="https://boutique.felixparadis.com">ham paintings</a>. 
    </p>
    <!-- <p> -->
      <!-- I like to create. Whether it's an elegant piece of code, a witty joke or a couscous. -->
    <!-- </p> -->
    <p>
      Currently busy with a good client, but open to amazing opportunities. Feel free to <a href="/contact"> contact me</a>.
    </p>
    
    <br>

    <!-- #TODO: include currently working on... project -->

    <section id="latest-blog-posts" class="colorful-section">
      <div>
        <h2>Latest <br> <a href="/posts">Blog</a> <br> Posts</h2>
          {{ range ( where .Site.RegularPages "Type" "posts" | first 3 ) }}
          <div class="latest-blog-post">
            <a href="{{.Permalink}}">
              <figure>
                <picture>
                  {{ $ext := substr (path.Ext .Params.previewImage) 1 }} 
                  <source 
                    srcset='{{.Params.previewImage}}'
                    type="image/{{$ext}}"
                  >
                  <img 
                    src='{{.Params.previewImageFallback }}' 
                    alt=''
                  >
                </picture>
              </figure>
              <!-- <img src="{{ .Params.previewImage }}" alt=""> -->
              <h3>{{.Title}}</h3>
            </a>
            <!-- <span>{{.}}}</span> -->
          </div>
          {{ end }}
      </div>
    </section>

    <br>

<!-- 
    <h2>{{ .Site.Params.info }}</h2>

    {{ with .Site.Params.social }}
    <ul id="social-links">
      {{ range sort . "weight" }}
        {{ if .icon }}
          <li>
            <a 
              href="{{ .url }}" 
              aria-label="{{ .name }}" 
              rel="noopener"
              target="_blank" 
              {{ if .type }}type="{{ .type }}"{{ end }}
            >
              <i class="{{ .icon }}" aria-hidden="true"></i>
            </a>
            <span>{{ .name }}</span>
          </li>
        {{ else }}
          <li>
            <a 
              href="{{ .url }}" 
              aria-label="{{ .name }}" 
              rel="noopener"
              target="_blank"
            >
              {{ .name }}
            </a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
    {{ end }} -->


  </div>
</section>
