<p>
  Et tu as trouvé la version francophone de mon site. Bien!
</p>
<p>
  Contrairement à la version anglo qui est plutôt corpo, la version Française est plutôt familiale.
  Donc, si tu es ici pour évaluer mes compétences et intérêts professionels, retourne sur <a href="/">la version anglo</a>. 
</p>
<p>
  {{/*  Par contre, si tu veux voir comment que je cuisine bien ou mes écrits artistique, this is ze place.  */}}
  Ici, c'est pour les chums.
</p>
<p>. . .</p>
<p>
  Bon. Pour l'instant, y a pas grand chose pour les chums. Mais euh... m'a faire dequoi à m'ment d'né.
</p>
<hr>
<p>
  Si tu cherche juste <strong>mes toiles de Jambons</strong>: <a href="https://boutique.felixparadis.com">boutique.felixparadis.com</a>.
</p>