<form name="contact" netlify netlify-honeypot="money">
  <p>
    <label for="name">Name </label>
    <input type="text" name="name" id="name"/>
  </p>
  <p>
    <label for="email">Email </label>
    <input type="email" name="email" id="email"/>
  </p>
  <p>
    <label for="message">Message </label>
    <textarea type="textarea" name="message" id="message"></textarea>
  </p>
  <p style="display: none;">
    <label for="money">Name </label>
    <input type="text" name="money" id="money"/>
  </p>
  <p>
  <button type="submit">Send</button>
  </p>
</form>