{{ $lazy := .Get "lazy" }}
{{ $captionLink := .Get "captionLink" }}
{{ $extraBR := .Get "extraBR" }}
{{ $width := .Get "width" }}
{{ $height := .Get "height" }}

<figure>
  <picture>
    {{ if .Get "avifSrc"}}
      <source 
        srcset='{{.Get "avifSrc"}}'
        type="image/avif"
      >
    {{ end }}
    {{ if .Get "webpSrc"}}
      <source 
        srcset='{{.Get "webpSrc"}}'
        type="image/webp"
      >
    {{ else }}
      <source 
        srcset='{{.Get "src"}}'
      >
    {{ end }}
    <img 
      src='{{.Get "fallbackSrc" }}' 
      alt='{{.Get "alt" }}' 

      {{ if $lazy }}
        loading="lazy"
      {{end}}
      {{ if $width }}
        width="{{ $width }}"
      {{end}}
      {{ if $height }}
        height="{{ $height }}"
      {{end}}

    >
 </picture>
  <figcaption>
    {{ if $captionLink }}
        <p>
          <a 
            href='{{.Get "captionLink" }}' 
            rel="noopener" 
            target="_blank"
          >{{.Get "caption" }}</a>
        </p>
    {{else}}
      <p>{{.Get "caption" | markdownify }}</p>
    {{end}}
  </figcaption>
</figure>
{{ if $extraBR}}
  <br>      
{{end}}