<!-- TODO: automatically get width and height -->
{{ $.Scratch.Set "lazy" (.Get "lazy") }}
{{ $lazy := $.Scratch.Get "lazy" }}

{{ $.Scratch.Set "captionLink" (.Get "captionLink") }}
{{ $captionLink := $.Scratch.Get "captionLink" }}

{{ $.Scratch.Set "extraBR" (.Get "extraBR") }}
{{ $extraBR := $.Scratch.Get "extraBR" }}

<figure>
  <picture>
    {{ if .Get "avifSrc"}}
      <source 
        srcset='{{.Get "avifSrc"}}'
        type="image/avif"
      >
    {{ end }}
    {{ if .Get "webpSrc"}}
      <source 
        srcset='{{.Get "webpSrc"}}'
        type="image/webp"
      >
    {{ else }}
      <source 
        srcset='{{.Get "src"}}'
      >
    {{ end }}
    <img 
      src='{{.Get "fallbackSrc" }}' 
      alt='{{.Get "alt" }}' 

      {{ if $lazy }}
        loading="lazy"
      {{end}}
    >
 </picture>
  <figcaption>
    {{ if $captionLink }}
        <p>
          <a 
            href='{{.Get "captionLink" }}' 
            rel="noopener" 
            target="_blank"
          >{{.Get "caption" }}</a>
        </p>
    
    {{else}}
      <p>{{.Get "caption" | markdownify }}</p>
    {{end}}
  </figcaption>
</figure>
{{ if $extraBR}}
  <br>      
{{end}}